@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: Open Sans, Helvetica;
}

.title {
  length: 400px;
  width: 100%;
  text-align: center;
  background-color: #34c9eb;
  color: #FFFFFF;
  font-size: 40px;
}

.second {
  length: 400px;
  width: 100%;
  text-align: center;
  background-color: #000000;
  color: #fcba03;
  font-size: 30x;
}

.third {
  length: 400px;
  width: 100%;
  text-align: center;
  background-color: #ac0de0;
  color: #ff8800;
  font-size: 15px;
}
